.ownerAppointment-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ownerAppointment-page-btn {
  width: 200px;
  height: 100px;
  background: #3c94e7;
  border: 1px solid #3c9fe7;
  margin: 20px 0px 0px 10px;
}
.ownerAppointment-card {
  width: 60%;
  height: 100px;
  background-color: #f3faff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
